body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

# walk this way styles
a#modulhandbuch {
    background-color: #F4941E;
    color: white;
    display: block;
    font-size: 24px;
    margin: 50px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
  }
